html{
 background-color: rgb(158, 232, 158);
}

*{
    border: solid 1px white
}

main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: ;
}

.titulo h1{
   color: white; 
   font-family: "Micro 5", sans-serif;
}


.nav a{
    color: palevioletred;
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;

}